body {
  font-family: 'Roboto', sans-serif;
}

.flag {
  border: 1px solid red;
}

/* body {
  background: url('/images/img-1.jpg') no-repeat center;
  background-size: cover;
} */

/* main {
  background: url("/images/img-1.jpg");
} */
